.radius {
  border-radius: var(--radius-small);
}

.radius--big {
  border-radius: var(--radius-big);
}

.shadow--light {
  box-shadow: var(--box-shadow-light);
}

.shadow--dark {
  box-shadow: var(--box-shadow-dark);
}

.padding-default {
  padding: var(--gutter-md);
}
