// Looking for colors?: go to abstracts/theme

:root {
  // Spacing
  --gutter-sm: 1.5rem;
  --gutter-md: 2rem;
  --gutter-lg: 5rem;

  // Typography
  --font-family-primary: "Poppins", sans-serif;

  // Font-weights
  --weight-regular: 400;
  --weight-semibold: 600;

  // Utils
  --box-shadow-light: 0px 25px 40px rgba(0, 0, 0, 0.03);
  --box-shadow-dark: 0px 4px 30px 10px rgba(0, 0, 0, 0.1);
  --radius-small: 20px;
  --radius-big: 32px;
}
