// Looking for colors?: go to abstracts/theme

// Spacing
$smallMargin: 1.5rem;
$mediumMargin: 2rem;
$largeMargin: 5rem;

// Typography
$font-family: "Poppins", sans-serif;

// Font-weights
$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Utils
$box-shadow_light: 0px 25px 40px rgba(0, 0, 0, 0.03);
$box-shadow_dark: 0px 4px 30px 10px rgba(0, 0, 0, 0.1);
$radius-small: 20px;
$radius-big: 32px;
