header {
  margin-bottom: var(--gutter-md);

  @media (min-width: 768px) {
    margin-bottom: var(--gutter-lg);
  }

  .logo {
    min-width: 13rem;
    width: 30%;
    max-width: 20rem;
  }

  .theme-switcher-wrapper {
    display: flex;
    align-items: center;
    float: right;
  }

  .theme-switcher {
    position: relative;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 300ms ease-out;

    @media (min-width: 1024px) {
      width: 7rem;
      height: 7rem;
    }

    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 3rem;
      height: 3rem;
      background-image: var(--color-gradient);
      border-radius: 50%;

      @media (min-width: 1024px) {
        width: 4rem;
        height: 4rem;
      }
    }
  }
}
